@import '../../assets/style/common/variables';
@import '../../assets/style/common/mixins';

.services {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr auto;

  @include screen(lg) {
    grid-template-columns: 100vw;
    grid-template-rows: auto 1fr;
  }

  &__aside {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $purple;

    @include screen(lg) {
      &::after {
        content: '';
        display: block;
        width: 90px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to left, $purple, $purple, transparent);
      }
      &::before {
        content: '';
        display: block;
        height: 15px;
        width: 15px;
        border-top: 3px solid $white;
        border-right: 3px solid $white;
        border-radius: 0 3px 0 0;
        position: absolute;
        top: 96px;
        right: 26px;
        transform: rotate(45deg);
        opacity: 0.2;
        z-index: 1;
      }
    }
  }

  &__tagline {
    width: 370px;
    padding: 35px 40px 0;
    color: $white;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin: auto 0;
    padding: 0 36px 70px 40px;
    overflow-x: auto;

    @include screen(lg) {
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 20px 70px 40px 40px;
    }
  }


  &__button h2 {
    display: block;
    position: relative;
    text-align: left;
    color: $white;
    transition: 0.35s;
    cursor: pointer;

    &::before {
      content: '→ ';
      position: absolute;
      top: 0;
      left: -50px;
      opacity: 0;
      transition: 0.35s;
    }

    &:hover {
      padding-left: 60px;
      transform: skewX(-15deg);
    }

    &:hover::before {
      opacity: 1;
      left: 0;
      transform: skewX(15deg);
    }
  }

  &__button + &__button {
    margin-top: 20px;

    @include screen(lg) {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}