include ../TooltipMap/TooltipMap.pug

section.services
  aside.services__aside
    h6.services__tagline.services__item
      | Как мы убираем

    nav.services__nav
      each item in service.tooltipMaps
        button.services__button.services__item(data-map-id= item.index)
          h2= item.title

  +TooltipMap(service.tooltipMaps)