include ../TooltipMap/TooltipMap.pug

section.services
  aside.services__aside
    h6.services__tagline
      | Как мы убираем

    nav.services__nav
      each item, index in service.tooltipMaps
        button.services__button
          h2= item.title

  +TooltipMap(service.tooltipMaps)