@import '../common/mixins';
@import '../common/variables';

.header {
  display: flex;
  align-items: center;
  padding: 16px 35px 17px 54px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.35s;
  z-index: 1;

  &.fill {
    background-color: $white;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
  }

  // header includes
  &__logo {
    display: flex;
  }

  &__switch {
    margin: 0 auto 0 29px;
    padding: 3px;
    border: 1px solid #E2E8F0;
    border-radius: 9999px;
    position: relative;
    background-color: $white;

    // $__switch includes
    &_item {
      color: $secondaryText;

      &.active {
        color: $white;
      }

      &:hover {
        color: $black
      }
    }

    &_item {
      display: inline-block;
      padding: 8px 15px 9px;
      border-radius: 9999px;
      @include switchText();

      &.active {
        background-color: $purple;
        color: $white;
      }
    }

    &_item + &_item {
      margin-left: 5px;
    }
  }

  &__nav {
    display: flex;

    // &__nav includes
    &_item {
      @include menuText;
      @include runninUnderline($width: 1px);

      & + & {
        margin-left: 32px;
      }
    }
  }

  &__info {
    display: flex;
    margin: 0 58px 0 auto;

    // &__info includes
    &_item {
      @include textBold;

      &-anim {
        @include runninUnderline($width: 2px);
      }
    }

    &_item + &_item {
      display: flex;
      align-items: center;

      &::before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 14px;
        margin: 0 15px;
        background-color: $black;
      }
    }
  }

  &__menuIcon {
    display: flex;
  }
}