.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;

  // intro includes
  &__leftSide {
    background-image: url('img/intro_left_aside.png');
    background-size: cover;
    background-position: 50% 50%;
  }

  &__rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_item {
      max-width: 400px;
    }

    &_item + &_item {
      margin-top: 30px;
    }
  }
}