-
  var imgPath = 'img/card_'
  var features = [{
    title: 'Тщательно отобранный персонал',
    desc: 'Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.',
    img: imgPath + '1.png',
    imgAlt: 'Сервис'
  }, {
    title: 'Качественная эко-химия',
    desc: 'Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.',
    img: imgPath + '2.png',
    imgAlt: 'Сервис'
  }, {
    title: 'Контролируем качество',
    desc: 'Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.',
    img: imgPath + '3.png',
    imgAlt: 'Сервис'
  }, {
    title: 'Работаем круглосуточно',
    desc: 'Не нужно тратить время, силы и ресурсы на разме- щение вакансий, проведе- ние собеседований, про- верку кандидатов на должность уборщицы. За счет больших объемов мы можем сделать это эффективнее.',
    img: imgPath + '4.png',
    imgAlt: 'Сервис'
  }]

mixin featuresCard (title, desc, img, alt)
  li.features__item
    .features__item__front
      h4.features__title= title
      img.features__img(src=img, alt=alt)
    .features__item__back
      p.features__desc= desc

//- ==============================

section.features
  ul.features__list
    each item in features
      +featuresCard(item.title, item.desc, item.img, item.imgAlt)