//- <template>
main.intro

  .intro__leftSide
    | <!-- empty -->

  .intro__rightSide
    h1.intro__rightSide_title.intro__rightSide_item
      | Уборка квартир в Киеве
    p.intro__rightSide_tagline.intro__rightSide_item
      | Мы уберем у вас дома или в офисе. Наведем чистоту после ремонта и проведем генеральную уборку.


//- </template>