section.questAnswer
  .questAnswer__header
    h2.questAnswer__title
      | Как мы убираем
    p.questAnswer__paragraph
      | Клинер приезжает в назначенное время со всем необходимым и сразу приступает к делу. Вам остаётся только оценить результат.

  .questAnswer__img_wrapper
    img.questAnswer__img(src="img/q_a.png", alt="Как бы убираем")