//- <template>
section.questAnswer
  h2.questAnswer__title
    | Как мы убираем
  p.questAnswer_paragraph
    | Клинер приезжает в назначенное время со всем необходимым и сразу приступает к делу. Вам остаётся только оценить результат.

  img(src="img/q_a.png", alt="Как бы убираем")
//- </template>