include ./TooltipMap.pug

-
  var urlPath = 'img'
  var optionsList = [
    {
      title: 'Кухня',
      map: {
        imgUrl: urlPath + '/service_1.png',
        tooltips: [
          {x: 32.11, y: 33.38, tooltip: 'Чистим фасад вытяжки'},
          {x: 26.2, y: 57.38, tooltip: 'Чистим фасад вытяжки'},
          {x: 29.67, y: 91, tooltip: 'Чистим фасад вытяжки'},
          {x: 45.73, y: 61.13, tooltip: 'Чистим фасад вытяжки'},
          {x: 57.09, y: 75, tooltip: 'Чистим фасад вытяжки'},
          {x: 60.85, y: 48.88, tooltip: 'Чистим фасад вытяжки'},
          {x: 79.62, y: 63.88, tooltip: 'Чистим фасад вытяжки'},
        ]
      }
    },
    {
      title: 'Комнаты',
      map: {
        imgUrl: urlPath + '/service_2.png',
        tooltips: [
          {x: 24.6, y: 32, tooltip: 'Чистим фасад вытяжки'},
          {x: 29.39, y: 91.13, tooltip: 'Чистим фасад вытяжки'},
          {x: 60.56, y: 49, tooltip: 'Чистим фасад вытяжки'},
          {x: 55.02, y: 90.13, tooltip: 'Чистим фасад вытяжки'},
          {x: 78.12, y: 81.63, tooltip: 'Чистим фасад вытяжки'},
        ]
      }
    },
    {
      title: 'Ванная',
      map: {
        imgUrl: urlPath + '/service_1.png',
        tooltips: [
          {x: 32.11, y: 33.38, tooltip: 'Чистим фасад вытяжки'},
          {x: 26.2, y: 57.38, tooltip: 'Чистим фасад вытяжки'},
          {x: 29.67, y: 91, tooltip: 'Чистим фасад вытяжки'},
          {x: 45.73, y: 61.13, tooltip: 'Чистим фасад вытяжки'},
          {x: 57.09, y: 75, tooltip: 'Чистим фасад вытяжки'},
          {x: 60.85, y: 48.88, tooltip: 'Чистим фасад вытяжки'},
          {x: 79.62, y: 63.88, tooltip: 'Чистим фасад вытяжки'},
        ]
      }
    },
    {
      title: 'Прихожая',
      map: {
        imgUrl: urlPath + '/service_2.png',
        tooltips: [
          {x: 24.6, y: 32, tooltip: 'Чистим фасад вытяжки'},
          {x: 29.39, y: 91.13, tooltip: 'Чистим фасад вытяжки'},
          {x: 60.56, y: 49, tooltip: 'Чистим фасад вытяжки'},
          {x: 55.02, y: 90.13, tooltip: 'Чистим фасад вытяжки'},
          {x: 78.12, y: 81.63, tooltip: 'Чистим фасад вытяжки'},
        ]
      }
    },
  ]

section.services
  aside.services__aside
    h6.services__tagline.services__item
      | Как мы убираем

    nav.services__nav
      //- генерация навигации интерактивной карты
      each item in optionsList
        button.services__button.services__item(data-map-id= item.index)
          h2= item.title

  .tooltip
    +tooltipMap(optionsList)