@import "../../assets/style/common/mixins";

.tooltipMap {
  height: 100vh;
  background-size: cover;

  &__wrapper.template &__img {
    opacity: 0;
  }

  @include screen(lg) {
    overflow: scroll;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    height: 100%;
    width: max-content;
    position: relative;
  }

  &__img {
    width: auto;
    height: 100vh;

    @include screen(lg) {
      height: auto;
      width: 100%;
    }
    @include screen(564px) {
      width: auto;
      height: 100%;
    }
  }
}