doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- styles
    link(rel="stylesheet", href="index.css")

    //- other
    title Document
  body

    //- HEADER
    include ./components/header.pug

    //- INTRO
    include ./components/intro.pug

    //- scripts
    script(src="index.js")